@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  padding: 0px;
  margin: 0px;
}

.p-calendar .p-inputtext {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
